doctype
html
  head
    meta(charset='utf-8')
    //- meta(name='viewport', content='width=1024')
    meta(name='apple-mobile-web-app-capable', content='yes')
    
    title A New Model of Pay Television
    meta(name='author', content='Scott Cheng')
    meta(name='description', content='A non-technical intro to CSS level 3')

    link(href='http://fonts.googleapis.com/css?family=Telex', rel='stylesheet')
    link(href='mystyle.css', rel='stylesheet')
    link(href='style.css', rel='stylesheet')
    link(rel='shortcut icon', href='favicon.png')
    link(rel='canonical', href='http://scottcheng.github.com/revolutionary-css3/')

  body.impress-not-supported
    script(type='text/javascript').
      if (screen.width <= 699) {
        document.location = "http://engl119.me/404.html";
      }
    #hint
      p please hit space or arrow keys to navigate

    script.
      if ('ontouchstart' in document.documentElement) {
        document.querySelector('.hint').innerHTML = '<p>Tap on the left or right to navigate</p>';
      }

    #impress

      #title.step(
        data-z=500
        data-rotate=60
        data-rotate-x=-15
        data-rotate-y=15
        data-scale=1
      )
        h1
          | <span class="noun">A</span><br />
          | <span class="adj">NEW MODEL OF</span><br />
          | <span class="noun">PAY TELEVISION</span>
        .subtitle by Good Student
      
      #videostep.step(
        data-x=-600
        data-y=0
        data-rotate=90
        data-scale=0.25
      )
        video(id="video" width="900", height="1600", controls autoplay)
          source(src="img/engl.mp4", type="video/mp4")
          |Your browser does not support the video tag.

      #impact.step(
        data-x=-600
        data-y=0
        data-rotate=90
        data-scale=0.25
      )
        p Agenda:
        br
        p.animation
          | <em>1.Reasoning for switching into the internet program</em> 
        br
        p 2. The Competition in the market
        br
        p 3. The Maintenance of HBO’s competitive advantages
        br
        p 4. Challenges of the on-demand structure
        br
        p 5. Trends of the television market
      
      #section2.step(
        data-x=-1200
        data-y=0
        data-rotate=90
        data-scale=0.25
      )
        p WHEN WAS THE LAST TIME YOU WATCHED SHOWS ON A TV?
        br
        p WHEN WAS THE LAST TIME YOU WATCHED SHOWS ON YOUR LAPTOP?
        br

      #section2.step(
        data-x=-1400
        data-y=0
        data-rotate=90
        data-scale=0.25
      )
        p Price
        br
        p Viewing Experience
        br
        p Flexibility

      #section21.step(
        data-x=-1700
        data-y=0
        data-rotate=90
        data-scale=0.25
      )
        p Price
        br

      #section22.step(
        data-x=-1800
        data-y=0
        data-rotate=90
        data-scale=0.25
      )
        p Price
        br
        p Viewing Experience
        br
        p Flexibility
      
      #section23.step(
        data-x=-2000
        data-y=0
        data-rotate=90
        data-scale=0.25
      )
        p viewing
        br
      
      #section24.step(
        data-x=-3000
        data-y=0
        data-rotate=90
        data-scale=0.25
      )
        p Price
        br
        p Viewing Experience
        br
        p Flexibility

      #section25.step(
        data-x=-4000
        data-y=0
        data-rotate=90
        data-scale=0.25
      )
        p Flexibility


      #impact-old.step(
        data-x=-810
        data-y=0
        data-rotate=90
        data-scale=0.95
      )
        #wrapper
          #content
              ul#movieposters
                li
                  img(src='img/01_iron_man_2.jpg', alt='Iron Man 2')
                  .movieinfo
                    h3 Subscription fee
                    p
                      | loll
                li
                  img(src='img/02_the_last_airbender.jpg', alt='The Last Airbender')
                  .movieinfo
                    h3 Violent and sexual content
                    p
                      | lolll
                li
                  img(src='img/03_tron_legacy.jpg', alt='Tron Legacy')
                  .movieinfo
                    h3 Strong Connection
                    p
                      | lolll
          script.
              (function (){
              window.clean__ = 'true';
              })();
      #impact2.step(
        data-x=-600
        data-y=0
        data-rotate=90
        data-scale=0.25
      )
        p
          | <em>Agenda:</em>
        br
        p <span class="problem">1. Reasoning for switching into the internet program </span>
        br
        p 2. The Competition in the market
        br
        p 3. The Maintenance of HBO’s competitive advantages
        br
        p 4. Challenges of the on-demand structure
        br
        p 5. Trends of the television market
      #how.step(
        data-x=0
        data-y=0
        data-scale=8
      )
        .how How?

      #border-radius.step.property(
        data-x=-2800,
        data-y=1200
        data-scale=0.5
      )
        #tree
          ol
            li
              | History of Watching Programming
            li 
              div(style="background-image: url('img/tv.png');width:90px;height:120px")
                span.details
                  | Description of point 2
            li
              div(style="background-image: url('img/is.png');width:120px;height:120px")
                span.details
                  | Description of point 3
            li
              div(style="background-image: url('img/mix.png');width:90px;height:120px")
                span.details
                  | Description of point 3
      #shadows.step.property(
        data-x=-1988
        data-y=1200
        data-scale=0.5
      )
        div(style="background-image: url('img/hbologo.png');width:300px;height:124px;position:absolute;left:200px;top:-50px")
        .amazon
          div(style="background-image: url('img/amazonlogo.png');width:150px;height:30px")
        .apple
          div(style="background-image: url('img/apple.png');width:100px;height:122px")
        .google
          div(style="background-image: url('img/googlelogo.png');width:150px;height:54px")

      #gradient.step.property(
        data-x=-1176
        data-y=1200
        data-scale=0.5
      )
        h2 Gradient
        .content
          .apple-nav
          .radial

      #google-lofter.step(
        data-x=-770
        data-y=1500
        data-z=100
        data-rotate-x=-75
        data-scale=0.25
      )
        .google-box.box
          .title Google
          .content
            .google-button Compose
            .google-button Create
            .google-button Subscribe
        .lofter-box.box
          .title Lofter
          .content
            img(src='img/lofter.png')

      #opacity.step.property(
        data-x=-364
        data-y=1200
        data-scale=0.5
      )
        h2 Opacity (&amp; transition)
        .content
          .renren-button
            .renren-button-icon
            .renren-button-text Download Album
          .info Try mouseover the button!

      #opacity-image.step(
        data-x=42
        data-y=1500
        data-z=100
        data-rotate-x=-75
        data-scale=0.25
      )
        .image-wrapper
          img(src='img/heart.jpg')
          .caption heart.

      #reflect.step(
        data-x=448
        data-y=1200
        data-scale=0.5
      )
        h2 Reflection
        .content
          .ibooks-wrapper
            img.ibooks(src='img/ibooks.jpg')
          .info (WebKit only)

      #transform.step(
        data-x=1260
        data-y=1200
        data-scale=0.5
      )
        h2 Transformation
        .content
          .tag Text overflow
          .tag Columns
          .tag Shadows
          .tag Text stroke
          .tag Rounded corners
          .tag Gradient
          .tag Opacity
          .tag Reflection
          .tag Transition
          .tag Transformation

      #animation.step(
        data-x=2072
        data-y=1200
        data-scale=0.5
      )
        h2 Animation
        .content
          .spinner
            .spinner-dot
            .spinner-dot
            .spinner-dot
            .spinner-dot
            .spinner-dot
            .spinner-dot
            .spinner-dot
            .spinner-dot

      #end.step(
        data-x=750
        data-y=1800
        data-z=450
        data-scale=0.2
        data-rotate-x=-60
        data-rotate-y=45
      )
        .credits
          h2
            | <a href="#title" class="title">A New Model of Pay Television</a><br />
            | brought to you by
            | <a href="" target="_blank">Jack Liu</a>
          p
            | <a>The Revolutionary CSS 3</a>
            | by
            | <a>Scott Cheng</a>
          p
            | <a>impress.js presentation framework</a>
            | by
            | <a>Bartek Szopka</a>


    #social
      .social-button-wrapper
        a(
            href='http://engl119.gitbooks.io/a-new-model-of-pay-television/content/',
          ) click to check out our report

    script(src='lib/impress.js')
    script.
      impress().init();
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33401065-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      window.addEventListener('hashchange', function() {
        _gaq.push(['_trackEvent', 'Step', 'move', window.location.hash]);
      }, false);
      var videoStep = document.getElementById("videostep");
      var video = document.getElementById("video");
      videoStep.addEventListener("impress:stepenter", function() {
      video.currentTime=0;
      video.play();
      }, false);
      videoStep.addEventListener("impress:stepleave", function() {
      video.pause();
      }, false);